<center><h1>{{ genre | title }}</h1></center>>

<center><body>
    
    <a href="{% url 'post' genre %}">Create Post</a>

    {% for post in posts %}
    <div style="padding: 32px 0px">
        <img style="display: block" src="{{ post.img_link }}" height="200" />
        <a href="{% url 'edit' post.post_id genre %}">Edit Post</a>
        <h2>{{ post.title }}</h2>
        <p>{{ post.review }}</p>
        <div>
            {% for tag in post.tags.all %}
            <span
                style="color: black; background-color: lightblue; margin-right: 4px"
                >{{ tag.name }}</span
            >
            {% endfor %}
        </div>
    </div>
    {% endfor %}</center>
    




    {% for genre in genre_id %}
    
    <center><img style="background-image: none;" src="{{ genre_id.img_link }}" height="400" /></center>   
    
    {% endfor %}



<center><a href="{% url 'home' %}">Home-Page</a></center>
</body>