<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" href="{% static 'genre-style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

  <title>{{ genre | title }}</title>
</head>

<body>

  <body class="background-img" background="{{genre_id.img_link}}">

  <h1>{{ genre | title }}</h1>

  <div class="home-top-button">
    <form action="{% url 'home' %}" method="GET">
      <input type="submit" name="Home" value="Home" id="button">
    </form><br>
  </div>

  <div class="create-button">
    <form action="{% url 'post' genre %}" method="GET">
      <input type="submit" name="Create Post" value="Create Post" id="button">
    </form>
  </div><br>

  {% for post in posts %}
  <br>
  <h2>{{ post.title }}</h2><br>
  <p id="spoiler">{{ post.review }}</p><br>

  <div class="picture">
    <img src="{{ post.img_link }}" class="blog-image">
  </div><br>

  <button title="Click to Show/Hide Review" type="button" id="spoiler-button" onclick="spoiler()">Show/Hide Review</button>

  {% for tag in post.social.all %}

  <p>{{ tag.name }}</p>

  {% endfor %}

  <br>
  <div class="social">
    {{post.twitter}}
    {{post.linkedin}}
    {{post.instagram}}
    {{post.meta}}
  </div><br>


  <div class="edit-button">
    <form action="{% url 'edit' post.post_id genre %}" method="GET">
      <input type="submit" name="Edit Post" value="Edit Post" id="button">
    </form>
  </div>

  <br>

  <div class="create-button">
    <form action="{% url 'post' genre %}" method="GET">
      <input type="submit" name="Create Post" value="Create Post" id="button">
    </form>
  </div>

  <br>
  {% endfor %}

  <div class="home-bottom-button">
    <form action="{% url 'home' %}" method="GET">
      <input type="submit" name="Home" value="Home" id="button">
    </form>
  </div>

  <script src="{% static 'script.js' %}"></script>

</body>
</html>
