<center><h1>{{ genre | title }}</h1></center>>

<center><body>
    
    <a href="{% url 'post' genre %}">Create Post</a>

    {% for post in posts %}
    
        <h2>{{ post.title }}</h2>
        <p>{{ post.review }}</p>
        <div>
    <div style="padding: 32px 0px">
                <img style="display: block" src="{{ post.img_link }}" height="200" />
                            {% for tag in post.social.all %}
        <div>
            <span
                style="color: black; background-color: rgb(230, 225, 173); margin-right: 4px"
                >{{ tag.name }}</span
            >
            {% endfor %}
            <br>
            {{post.linkedin}}
            {{post.instagram}}
            {{post.meta}}
            {{post.twitter}}
            <br>
            <a href="{% url 'edit' post.post_id genre %}">Edit Post</a>
        </div>
    </div>
    {% endfor %}</center>
    




    {% for genre in genre_id %}
    
    <center><img style="background-image: none;" src="{{ genre_id.img_link }}" height="400" /></center>   
    
    {% endfor %}



<center><a href="{% url 'home' %}">Home-Page</a></center>
</body>