<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" href="{% static 'post-style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

  <title>Create Post</title>
</head>

<body>
  <h1>Create Page</h1>

  <form action="{% url 'post' genre %}" method="POST" class="form">
      {% csrf_token %} {{ form }}
    <br>
    <input type="submit" name="create" value="Create" id="button">
  </form>

  <div class="home-top-button">
    <form action="{% url 'home' %}" method="GET">
      <input type="submit" name="Home" value="Home" id="button">
    </form>
  </div>

</body>
</html>

